.product-container {
  padding: 32px;
  flex-grow: 1;
  .sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #868686;
    padding-bottom: 42px;

    .sort-by {
      &-select {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 200px;
        appearance: none;
        background: url("../../../assets/arrow-down.svg") 96% / 10% no-repeat;
      }
      span {
        margin-right: 12px;
      }
    }
  }
  .product-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
