.product-container {
  padding: 32px;
  flex-grow: 1;
  .sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #868686;
    padding-bottom: 42px;
  }
  .product-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
