* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
  border: none;
}
input:focus,
button:focus {
  outline: none;
}
