* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  border: none;
}
input:focus,
button:focus {
  outline: none;
}
.PrivateTabIndicator-colorSecondary-4 {
  background-color: rgb(121, 121, 121) !important;
}
