.discount {
  background-image: url("../../../assets/discount.jpg");
  background-size: cover;
  height: 300px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &-description {
    color: white;
    width: 40%;
    text-shadow: 1px 1px 1px #1b1a1a;
    &-h2 {
      font-size: 36px;
    }
    &-span {
      font-size: 17px;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-radius: 3px;
      height: 30px;
      padding: 15px;
    }
  }
}
@media (max-width: 600px) {
  .discount {
    flex-direction: column;
    &-description {
      width: 80%;
      &-h2 {
        font-size: 28px;
      }
    }
  }
}
